@font-face {
  font-family: 'geist-regular';
  src: url('./Geist-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'geist-mono-regular';
  src: url('./GeistMono-Regular.ttf') format('woff');
}