* {
  margin: 0;
}

.legend {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.legend-title {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-10%);
  white-space: nowrap;
  letter-spacing: -0.02em;
  padding-top: 0.15em;
  font-size: 14vw;
  line-height: 1;
  text-indent: -0.065em;
  word-spacing: -0.15em;
  font-weight: 200;
  text-transform: lowercase;
  font-family: 'aptos';
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}