.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.tree-node {
  background-color: #D9D9D9;
  color: black;
  font-size: 12px;
  padding: 1px 5px;
  transition-duration: 0.2s;
}

.tree-node:hover {
  background-color: #C82749;
  color: white;
}